@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400&display=swap');


*{
    box-sizing: border-box;
}
html{
    font-family:'Raleway',sans-serif;
}
body{
    margin: 0;
}
h1,h2,h3,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
img{
    display: block;
    width: 100%;
}
button{
    font-family: inherit;
    cursor: pointer;
}